name: "Publish on Modrinth"

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

env:
  MINECRAFT_VERSION: 1.21.11
  JAVA_VERSION: 21
  RELEASE_NAME: IslesExtra
  VERSION: 0.1.1

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Run Tests
        run: ./gradlew test
  
  publish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Check Environment Variables
        run: env

      - name: Checkout Repository
        uses: actions/checkout@v6.0.1

      - name: Setup Java
        uses: actions/setup-java@v5.2.0
        with:
          distribution: "temurin"
          java-version: ${{env.JAVA_VERSION}}

      - name: Make Gradle Wrapper Executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew clean build

      - name: Publish
        uses: Kir-Antipov/mc-publish@v3.3.0
        with:
          name: "${{env.RELEASE_NAME}}" 
          version: "${{env.VERSION}}"
          version-type: release
          changelog-file: CHANGELOG.md

          modrinth-id: "${{vars.MODRINTH_ID}}"
          modrinth-token: "${{secrets.MODRINTH_TOKEN}}"

          loaders: fabric
          game-versions: "${{env.MINECRAFT_VERSION}}"
          java: "${{env.JAVA_VERSION}}"
          dependencies: |
            fabric-api(required){modrinth:P7dR8mSH}